
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

div {
    cursor:url(arrow.png),auto;
    
  }

body {
  background-color: #ffc866;
  cursor:url(arrow.png),auto;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  color: #b24608;
  font-size: 4rem;
  min-width: 1rem;
  letter-spacing: 0.25rem;
  /* margin: 15px; */
  margin-top: 50px;
  margin-bottom: 20px;
}

.subtitles{
  display: flex;
  justify-content: center;
}

.subtitle{ 
  display: flex;
  font-family: "Jersey 15", sans-serif;
  font-weight: 200;
  font-style: normal;  color: #b2460877;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  
}

.navbar-button {
  font-family: "Jersey 15", sans-serif;
  font-weight: 200;
  font-style: normal;  color: #b24608;
  background-color:#fff7e0;
  border-radius: 40px;
  border: none;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-decoration-line: none;
  flex-wrap: wrap;
  cursor:url(hands.png),auto;
}

.navbar-phone-button {
  font-family: "Jersey 15", sans-serif;
  font-weight: 200;
  font-style: normal;  color: #b24608;
  border-radius: 40px;
  border: none;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-decoration-line: none;
  flex-wrap: wrap;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor:url(hands.png),auto;
}


.navbar-button:hover {
  transition: .25s ease;
  transform: scale(0.9);
  cursor:url(hands.png),auto;
}

.showreel-video {
  border-width: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #b24608;
  max-width: 60rem;
  min-width: 22rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor:url(hands.png),auto;
}


.showreel {
  display: flex;
  justify-content: center;
  cursor:url(hands.png),auto;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand div {
  justify-items: center;
}

.brand div h2 {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  color: #b2460877;
}

.logo {
  width: 4rem;
  padding-left: 0.5rem;
}



.highlight-text {
  color: #b24608; /* hot pink, go wild! */
}

.not-highlight-text {
  color: #b2460877; /* hot pink, go wild! */
}


.speech {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble {
  background-color: #fff7e0;
  color: #b2460877;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  max-width: 500px;
  min-width: 300px;
  width: auto;
  box-sizing: border-box;
}

  .speech-bubble-2 {
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #fff7e0;
  color: #b2460877;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  max-width: 400px;
  min-width: 400px;
  width: auto;
  line-height: 0%;
  margin: 30px;
}

.speech-header {
  display: flex;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style:normal;  color: #b2460877;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  justify-items: center;
}

.penguin-pointing {
  background-size: cover;
}

.title-1 {
  display: flex;
  justify-content: center;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  color: #b24608;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.title-2{
  display: flex;
  justify-content: center;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  color: #b24608;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.bottom{
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* or whatever size you want */
  z-index: 100; /* stay above other content */
}

.bottom-2{
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; /* or whatever size you want */
  z-index: 100; 
}
  
.contact{
  display: flex;
  justify-items: center;
  justify-content: center;
}

.title-3{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  color: #b24608;
  font-size: 3rem;
  max-width: 20rem;
}

/* Container positions the menu relative to the button */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%; /* appear right below the button */
  left:0;
  background-color: #fff7e0;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: none;
  z-index: 1000;
  cursor:url(hands.png),auto;

}

/* Dropdown items */
.dropdown-menu a {

  color: #b246087e;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  border-radius: 40px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-style: normal;
  cursor:url(hands.png),auto;

}

.dropdown-menu a:hover {
  background-color: #ffeebd;
   color: #b24608;
  letter-spacing: 0.2rem;
  cursor:url(hands.png),auto;

}

/* Hover effect to show the menu */
.dropdown:hover .dropdown-menu {
  display: block;
  cursor:url(hands.png),auto;

}

.projects-grid {
  display: grid;
  /* grid: auto / auto auto auto; */
  max-width: fit-content;

}

.projects-grid a p {
  font-family: "Jersey 15", sans-serif;
  color: #b24608;
  letter-spacing: 0.2rem;
}

.grid-wrapper {
  justify-items: center;
}

.projects-thumbnail {
  height: 22.5rem;
  width: 38.25rem;
  border-radius: 20px;
  cursor:url(hands.png),auto;

}

.project-header {
  color: #b24608;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px;
  letter-spacing: 0.2rem;
}

.project-date {
  margin: 0px;
}

.thumbnail-wrapper {
  margin: 25px;
  text-decoration: none;
  color: black;
  cursor:url(hands.png),auto;

}

.thumbnail-wrapper:hover {
  transition: .25s ease;
  transform: scale(0.9);
  cursor:url(hands.png),auto;

}

.project-wrapper {
  display: flex;
  justify-content: center;
  cursor:url(hands.png),auto;

}

.project-video {
 margin-top: 20px;
 margin-bottom: 20px;
 border-radius: 20px;
 width: 100%;
 aspect-ratio: 16 / 9;
 max-width: 1100px;

}

.project-wrapper .project-description h1 {
  color: #b24608;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal, "Architects Daughter", cursive;
  margin: 25px;
  letter-spacing: 0.2rem;
  
}

.project-about {
  display: grid;
  justify-items: center;
}

.project-about p {
  font-family: "Jersey 15", sans-serif;
  font-weight: 200;
  font-style: normal;    color: #b2460877;
  letter-spacing: 0.2rem;
}

.description-wrapper {
  background-color: #fff7e0;
  color: #b2460877;
  padding: 0.5rem 1.5rem;
  border-radius: 40px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  max-width: 1100px;
  min-width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
 
}



.vfx-videos {
  display: grid;
  grid-template-columns: auto auto;
}

.project-about span {
  margin-bottom: 100px;
}



.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px; /* adjust as needed */
  margin: 20px;
  cursor:url(hands.png),auto;

}

.contact-form input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background-color: #fff7e0;
  color: #b24608;
  border-color: transparent;
  border-radius: 20px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: middle;
  cursor:url(hands.png),auto;

}

.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 200px; /* Make this bigger than input fields */
  resize: vertical; /* Optional: allows user to resize */
  background-color: #fff7e0;
  color: #b24608;
  border-color: transparent;
  border-radius: 20px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: middle;
  cursor:url(hands.png),auto;

}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #b24608;
  opacity: 0.5;
  cursor:url(hands.png),auto;

}
.contact{
  margin-left: 4rem;
}
.menu-bar {
  width: 7.5%;
  display: none;
  margin: 1.5rem;
}

.navbar-phone {
  display: none;
}

.navbar-phone-menu {
  display: none;
  background-color: #fff7e0;
  border-radius: 20px;
}

.menu-dropdown-button {
  background-color: transparent;
  border: none;
  margin: 0px;
  cursor:url(hands.png),auto;

}

.project-dropdown {
  display: none;
  opacity: 0.6;
  cursor:url(hands.png),auto;

}

.project-dropdown a {
  margin-left: 30px;
  cursor:url(hands.png),auto;

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor:url(arrow.png),auto;
}

.footer a img {
  width: 30px;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor:url(arrow.png),auto;
}

.linkedin{
 cursor:url(hands.png),auto;
}

.insta{
 cursor:url(hands.png),auto;
}

.email{
 cursor:url(hands.png),auto;
}

.back-to-top:hover {
  transition: .25s ease;
  transform: scale(0.9);
  cursor:url(hands.png),auto;

}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff7e0;
  font-family: "Jersey 15", sans-serif;
  font-style: normal;  color: #b24608;
  font-size: 2rem;
  opacity: 0.9;
  cursor:url(hands.png),auto;

}

.backbutton{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff7e0;
  font-family: "Jersey 15", sans-serif;
  font-style: normal;  color: #b24608;
  font-size: 2rem;
  opacity: 0.9;
  cursor:url(hands.png),auto;

}

.row{
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex: 25%;
  max-width: 25%;
}

.img-hover-zoom{
  height:auto ;
  overflow: hidden;
  border: 1px solid #fff7e0;
  cursor:url(hands.png),auto;

}

.img-hover-zoom img{
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  transition: transform 0.25s ease;
  cursor:url(hands.png),auto;

}

.img-hover-zoom:hover img{
  transform: scale(1.25) ;
  cursor:url(hands.png),auto;

}



.vfx-wrapper {
  display: grid;
}

.penguin-sleeping{
margin-left: 3vw;
margin-top: 2vw;
}

@media only screen and (max-width: 850px) {
  .navbar-phone {
    display: block;
  }

  .navbar-phone div {
    display: flex;

  }

  .title {
    font-size: 60px;
  }

  .navbar-phone div {
    align-items: center;
    justify-content: center;
  }

  .navbar-phone div h2 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 200;
    font-style: normal;  color: #b2460877;
    text-align: center;
  }

  .navbar {
    display: none;
  }

  .menu-bar {
    display: block;
    width: 20px;
  }
.contact{
  margin-left: 2rem;
}
.contact-wrapper{
  margin-left: 2rem; 
}


  .projects-thumbnail {
    width: 100%;
    height: auto;
  }

  .speech-bubble-2 {
  align-items: center;
  justify-content: center;
  display: grid;
  background-color: #fff7e0;
  color: #b2460877;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  letter-spacing: 0.2rem;
  max-width: 500px;
  min-width: 300px;
  width: auto;
  box-sizing: border-box;
  line-height: 1px;
  margin: 30px;

}
  .back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.9;
    background-color: #fff7e0;
    font-family: "Jersey 15", sans-serif;
    font-style: normal;  color: #b24608;
    font-size: 1rem;
  }
}

.column{
  flex: 50%;
  max-width: 100%;
}

.skiwi-photos {
  width: 100%;
  height: auto;
  margin: 0;
}


/* @media screen and (max-width: 500px){
  .column{
  flex: 100%;
  max-width: 100%;
  }
}

@media screen and (max-width: 1152px) {
  .vfx-videos {
    display: grid;
    grid-template-columns: auto;
  }
} */